{% extends 'admin/_template.html.twig' %}

{% block title %}Back-office{% endblock %}

{% block body %}
<div class="section">
    <h1 class="title">Back-office</h1>
</div>
    {% block content %}{% endblock %}
{% endblock %}
